.hero {
    height: 90vh;
    align-items: center;
    margin-bottom: 0;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 2fr auto;
    gap: 40px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.hero-title {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 40px;
}

.text-left {
    text-align: left;
    z-index: 1;
}

.text-right {
    text-align: right;
    z-index: 1;
}

.text-left h1:nth-child(1) {
    animation:
        fadeInUp 0.8s 0.1s forwards,
        typeText 1.2s 0.1s;
}

.text-left h1:nth-child(2) {
    animation:
        fadeInUp 0.8s 0.3s forwards,
        typeText 1.2s 0.3s;
}

.text-left h1:nth-child(3) {
    animation:
        fadeInUp 0.8s 0.5s forwards,
        typeText 1.2s 0.5s;
}

.text-right h1:nth-child(1) {
    animation:
        fadeInUp 0.8s 0.7s forwards,
        typeText 1.2s 0.7s;
}

.text-right h1:nth-child(2) {
    animation:
        fadeInUp 0.8s 0.9s forwards,
        typeText 1.2s 0.9s;
}

.hero-title h1 {
    font-family: var(--font-serif);
    font-size: 4.6vw;
    font-weight: 400;
    line-height: 1.05;
    margin-bottom: 0.2em;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.image-container img {
    position: absolute;
    top: 80%;
    right: 10%;
    max-width: 500px;
    max-height: 850px;
    filter: grayscale(100%);
}

@media (max-width: 1024px) {
    .content-wrapper {
        grid-template-columns: 1fr;
    }

    .hero-title h1 {
        font-size: 6vw;
    }

    .hero-title {
        gap: 40px;
    }

    .profile-image {
        grid-column: 1 / 2;
        height: 400px;
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .hero-title h1 {
        font-size: 8vw;
    }

    .text-right {
        text-align: left;
    }
}