.container {
  width: 100%;
  height: 100vh;
  padding: 12px;
  box-sizing: border-box;

  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-content: start;
  justify-content: end;
  align-items: start;
  flex-direction: column;
}

.sidebar {
  width: 35%;
  height: 100%;
  background: #212121;
  border-radius: 10px;
  padding: 10px;
}

.content {
  background: #222;
  flex-grow: 1;
  height: 60%;
  width: calc(65% - 10px);
  border-radius: 10px;
}

/* Настраиваем sidebar */

.top-selector {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  align-items: center;
  text-align: center;
}

.top-selector .links {
  display: flex;
  gap: 20px;
  color: rgba(255, 255, 255, 0.3);
}

.top-selector .links p {
  cursor: pointer;
}