.stack-block {
    min-height: calc(100vh - 40px);
    margin: 20px 20px 20px 20px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    overflow: hidden; /* Чтобы внутренние блоки не выходили за пределы скругленных углов */
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    color: #FFF;
    min-height: 33.33vh; /* Каждая секция занимает примерно треть высоты */
}

/* Стили для разных секций */
.design-section {
    background-color: #1E1E1E; /* Темный фон для Design */
}

.code-section {
    background-color: #4CAF50; /* Зеленый фон для Code */
}

.synergy-section {
    background-color: #2E2E2E; /* Темно-зеленый фон для Synergy */
}

.left-text, .right-text {
    flex: 1;
    padding: 20px;
}

.left-text {
    display: flex;
}

.left-text .pointer {
    font-weight: 500;
    font-size: 25px;
    margin-right: 40px;
    margin-top: 25px;
}

.left-text .point-text {
    font-size: 70px;
    font-weight: 600;
}

.right-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-text p.text-line {
    font-size: 18px;
    font-weight: 200;
    width: 65%;
    margin-left: auto; /* Выравнивание текста справа */
    margin-bottom: 2px;
}