.stack-block {
    height: calc(100vh - 20px);
    margin: 20px 20px 20px 20px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    overflow-y: scroll; 
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    color: rgba(255, 255, 255, 0.6);
    height: calc(100vh - 20px);
    min-height: calc(100vh - 40px);
    scroll-snap-align: start;
}

.design-section {
    background-color: #1E1E1E; 
}

.code-section {
    background-color: rgba(0, 48, 73, 0.6); 
}

.synergy-section {
    background-color: #2E2E2E; 
}

.left-text, .right-text {
    flex: 1;
    padding: 20px;
}

.left-text {
    display: flex;
}

.left-text .pointer {
    font-weight: 500;
    font-size: 25px;
    margin-right: 40px;
    margin-top: 25px;
}

.left-text .point-text {
    font-size: 70px;
    font-weight: 600;
}

.right-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-text .text-line {
    font-size: 18px;
    font-weight: 200;
    width: 65%;
    margin-left: auto; 
    margin-bottom: 2px;
}